This notebook post processes the descriptor mapper raw file.

In [13]:
import pandas as pd
import ast
data = pd.read_csv('descriptor_mapper_raw.csv')

In [14]:
data_nona = data.dropna(subset=['Tree Number']).copy()
data_nona["Tree Number"] = data_nona["Tree Number"].apply(ast.literal_eval)

In [15]:
data_nona.head()

,Unique ID,Descriptor Name,Tree Number
0,D000001,Calcimycin,[D03.633.100.221.173]
1,D000002,Temefos,"[D02.705.400.625.800, D02.705.539.345.800, D02..."
2,D000003,Abattoirs,"[J01.576.423.200.700.100, J03.540.020]"
3,D000004,Abbreviations as Topic,[L01.559.598.400.556.131]
4,D000005,Abdomen,[A01.923.047]

In [16]:
data_processed = data_nona.explode('Tree Number')

In [17]:
data_processed.head()

  Unique ID Descriptor Name              Tree Number
0   D000001      Calcimycin      D03.633.100.221.173
1   D000002         Temefos      D02.705.400.625.800
1   D000002         Temefos      D02.705.539.345.800
1   D000002         Temefos      D02.886.300.692.800
2   D000003       Abattoirs  J01.576.423.200.700.100

In [18]:
data_processed['Root Category'] = data_processed['Tree Number'].apply(lambda x: x[0])

In [19]:
data_processed.head()

  Unique ID Descriptor Name              Tree Number Root Category
0   D000001      Calcimycin      D03.633.100.221.173             D
1   D000002         Temefos      D02.705.400.625.800             D
1   D000002         Temefos      D02.705.539.345.800             D
1   D000002         Temefos      D02.886.300.692.800             D
2   D000003       Abattoirs  J01.576.423.200.700.100             J

In [20]:
data_processed_final = data_processed.groupby('Descriptor Name')['Root Category'].unique().to_frame().reset_index()

In [21]:
data_processed_final

                                         Descriptor Name Root Category
0      (4-(m-Chlorophenylcarbamoyloxy)-2-butynyl)trim...           [D]
1      1,2-Dihydroxybenzene-3,5-Disulfonic Acid Disod...           [D]
2                                  1,2-Dimethylhydrazine           [D]
3                     1,2-Dipalmitoylphosphatidylcholine           [D]
4                      1,4-alpha-Glucan Branching Enzyme           [D]
...                                                  ...           ...
30187                              von Willebrand Factor           [D]
30188    vpr Gene Products, Human Immunodeficiency Virus           [D]
30189                                      zeta Carotene           [D]
30190                                   zeta-Crystallins           [D]
30191                                       zeta-Globins           [D]

[30192 rows x 2 columns]

In [22]:
data[data['Tree Number'].isna()]

      Unique ID Descriptor Name Tree Number
7827    D005260          Female         NaN
10718   D008297            Male         NaN

In [23]:
data_processed_final['Descriptor Name Lower'] = data_processed_final['Descriptor Name'].apply(lambda x: x.lower())

In [26]:
data_processed_final.head()

,Descriptor Name,Root Category,Descriptor Name Lower
0,(4-(m-Chlorophenylcarbamoyloxy)-2-butynyl)trim...,[D],(4-(m-chlorophenylcarbamoyloxy)-2-butynyl)trim...
1,"1,2-Dihydroxybenzene-3,5-Disulfonic Acid Disod...",[D],"1,2-dihydroxybenzene-3,5-disulfonic acid disod..."
2,"1,2-Dimethylhydrazine",[D],"1,2-dimethylhydrazine"
3,"1,2-Dipalmitoylphosphatidylcholine",[D],"1,2-dipalmitoylphosphatidylcholine"
4,"1,4-alpha-Glucan Branching Enzyme",[D],"1,4-alpha-glucan branching enzyme"

In [27]:
data_processed_final.to_csv('descriptor_mapper.csv',index=False)